.main_content{
    position: relative;
}
.second_content{
    position: relative;
    left:100%;
}
.Reload_logo{
    position:relative;


}
.to_address_box_position{
    position:relative;
    left:340%;
}
.original_arrrow{
    position: relative;
    top:0%;
    left:0%;
}
.ArrowRightOutlined_position_1{
    position: relative;
    left:235%;
    top:-185%;
}

.ArrowRightOutlined_position_2_1{
    position: relative;
    left:230%;
    top:-110%;
    transform: rotate(-30deg);
}

.ArrowRightOutlined_position_2_2{
    position: relative;
    left:230%;
    top:-70%;
    transform: rotate(30deg);
}

.to_address_box_position_1{
    position:relative;
    left:275%;
    top:-220%;
}

.to_address_box_position_2_1{
    position:relative;
    left:245%;
    top:-400px;
}
.to_address_box_position_2_2{
    position:relative;
    left:245%;
    top:-350px;
}