
.main-background{
  background-color:#EBE5DF ;
}
@keyframes flyToCenter {
  0% {
    transform: translate(-100%, -100%); /* 初始位置: 页面外 */
  }
  100% {
    transform: translate(calc(50vw - 50px), calc(50vh - 50px)); /* 终点位置: 居中 (页面中央) */
  }
}

.animated-element {
  will-change: transform, opacity;
}
.low-fps-animation {
  animation: example-animation 2s steps(30); /* 每秒更新 30 帧 */
}
/*.large-svg-container {*/
/*  pointer-events: none;  !* 禁止整个 div 响应点击 *!*/
/*}*/
/*.large-svg-container {*/
/*  display: inline-block;  !* 让 div 尺寸根据内容自适应 *!*/
/*  overflow: hidden;       !* 隐藏超出部分 *!*/
/*}*/

@keyframes spin {
  0% {
    transform: scale(12) rotate(0deg);
  }
  100% {
    transform: scale(12) rotate(360deg);
  }
}

#svgContainer {
  max-width: 100%;
  max-height: 100%;
  background-image: linear-gradient(70deg, #f0f0f0 10%, #ffffff 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

#svgContainer svg {
  width: 20%!important;
}